* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: Arial, sans-serif;
  color: #fff;
  overflow-x: hidden;
  background: #000  no-repeat top right;
  background-size: 450px auto;
}

/* Header container to center navbar horizontally */
header {
  display: flex;
  justify-content: center;
}

.bg-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 450px;
  z-index: -1;
  pointer-events: none;
}

.water-img {
  display: block;
  width: 100%;
  height: auto;
  mix-blend-mode: hard-light;
  opacity: 0.6;
  filter:  sepia(0.3) saturate(300%) hue-rotate(170deg);
}

/* Navbar */
.navbar {
  height: 55px;
  width: calc(100% - 40px);
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: radial-gradient(circle at 50% -35%, rgba(172, 172, 172, 1) -282%, rgba(0, 0, 0, 1) 90%);
  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 5px 80px 5px 5px;
  border-radius: 50px;
  
  margin: 15px auto;
  font-size: 13px;
  font-family: "Segoe UI", iniriasans-serif;
  box-shadow: 0px 0px 18px 0px rgba(139, 139, 139, 0.48);
  z-index: 100;
}

.logo {
  height: 28px;
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  color: #8ccf52;
}

.logo-img {
  height: 100px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #8ccf52;
  
}

/* Hero Section */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
}



.earth-model {
  position: relative;
  z-index: 2;
  height: 450px;
  width: 500px;
  
  transition: all 1s ease;
  transform-origin: center center;
}


.star-behind {
  position: absolute;
  top: 400px;
  left: 250px;
  transform: translate(-50%, -50%);
  width: 431px;
  height: 441px;
  z-index: 1;
  opacity: 0.7;
  filter: drop-shadow(0px 0px 20px #00ff73);
}

.content {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 1s ease;
  margin-top: -20px;
  margin-right: -10px;
  
}

.content h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ffffff;
  white-space: nowrap;
  text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6),
               0px 0px 18px rgba(0, 0, 0, 0.45);
  background: linear-gradient(90deg, #a8ffbf 0%, #ffffff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Buttons */
.btn-primary {
  display: block;
  width: 330px;
  height: 50px;
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-radius: 8px;
  background: #00c23c;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 10px rgba(0, 194, 60, 0.6);
}

.btn-primary:hover {
  background: #02a935;
  
}

.btn-secondary {
  display: block;
  width: 330px;
  height: 50px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #ffffff;
  color: #1CB0F6;
  font-size: 13px;
  font-weight: 700;
}

.btn-secondary:hover {
  background: #dededb;
}




